@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter-Medium";
    src: url("../../public/fonts/inter/Inter-Medium.woff2");
}
@font-face {
    font-family: "Inter-Regular";
    src: url("../../public/fonts/inter/Inter-Regular.woff2");
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../../public/fonts/inter/Inter-Bold.woff2");
}
@font-face {
    font-family: "Inter-SemiBold";
    src: url("../../public/fonts/inter/Inter-SemiBold.woff2");
}
@font-face {
    font-family: "PokemonGb";
    src: url("../../public/fonts/PokemonGB/PokemonGb.ttf");
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f4f4f4;
  }

  ::-webkit-scrollbar-thumb {
    background: #F45741;
    border-radius: 10px;
  }

body {
    font-family: "Inter-Medium";
}